# Object files
obj/*
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
*.out
bin/*
server
client
b_tree
.deps

#ide stuff
tags
Tags
*.swp

# other
r*hs # vtune output
.deps # makefile temps
*.dSYM/
.vagrant/
database/
.gdb_history
.gdbinit
temp.txt
project_tests_1M/
foo.txt
asdf.txt
